* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Courier, sans-serif;
}

/* header component */

.headerWrapper {
  border: 1px dotted darkslategray;
}

#mainTitle {
font-family: Montserrat;
font-weight: 400;
color: slategray;  
}

#mainSubtitle {
  font-family: Montserrat;
  font-weight:400;
  letter-spacing: 2px;
  color: lightslategray;   
}

/* allArticlesArea */

.allArticleAreaWrap {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  border: 3px solid purple;
}

.allArticleArea {
  border: 1px solid blue;
  width: 60%;
}

.indivArticleTitle {
  font-family: Montserrat, sans-serif;
  font-weight:400;
  letter-spacing: 2px;
  color: rgb(38, 62, 87);  
}

.indivArticleAuthor {
  font-family: Lato, sans-serif;
  font-size: 0.9em;
  letter-spacing: 3px;
  padding: 0.3em 0em 1em 0em;
  color: rgb(101, 101, 102);
}

.indivArticleSnippet {
  font-family: Lato, sans-serif;
  letter-spacing: 0.8px;
  color: rgb(101, 101, 102);
}

/* Single Article Area */

.singleArticleAreaWrap {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  border: 3px solid purple;
}

.singleArticleArea {
  border: 1px solid blue;
  width: 60%;
}

.singleArticleTitle {
  font-family: Montserrat, sans-serif;
  font-weight:400;
  letter-spacing: 2px;
  color: lightslategray;   
}

.singleArticleBody {
  font-family: Lato, sans-serif;
  letter-spacing: 0.8px;
  color: rgb(101, 101, 102);
}

.singleArticleAuthor {
  font-family: Lato, sans-serif;
  font-size: 0.9em;
  letter-spacing: 3px;
  padding: 0.3em 0em 1em 0em;
  color: rgb(201, 25, 92);
}

.singleArticleTag {
  font-family: Lato, sans-serif;
  font-size: 1.2em;
  color: rgb(56, 118, 180);
}

.singleArticleVoteCount {
  font-family: Lato, sans-serif;
  font-size: 1.5em;
  color: rgb(6, 99, 19);
}

/* Link Styling Removal */

a, a:visited, a:active, a:focus {
  text-decoration: none;
  color: rgb(78, 59, 85);
}