* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Courier, sans-serif;
}

/* header component */

.headerWrapper {
  border: 1px dotted darkslategray;
}

#mainTitle {
  font-family: Montserrat;
  font-size: 3.5em;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: slategray;
}

/* allArticlesArea */

.allArticleAreaWrap {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.allArticleArea {
  border: 1px solid blue;
  display: flex;
  justify-content: flex-start space-evenly;
  flex-flow: row wrap;
  width: 95%;
}

.eachIndivArticle {
  border: 1px dotted darkslategray;
  width: 25%;
  padding: 1em;
  margin: 1em 0em 1em 0em;
}

.indivArticleTitle {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  color: rgb(83, 75, 104);
}

.indivArticleAuthor {
  font-family: Lato, sans-serif;
  font-size: 0.9em;
  letter-spacing: 3px;
  padding: 0.3em 0em 1em 0em;
  color: rgb(101, 101, 102);
}

.indivArticleSnippet {
  font-family: Lato, sans-serif;
  letter-spacing: 0.8px;
  color: rgb(101, 101, 102);
}

/* Single Article Area */

.singleArticleAreaWrap {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  border: 3px solid purple;
}

.singleArticleArea {
  border: 1px solid blue;
  width: 60%;
  padding: 1em;
}

.singleArticleTitle {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  color: rgb(83, 75, 104);
}

.singleArticleBody {
  font-family: Lato, sans-serif;
  letter-spacing: 0.8px;
  color: rgb(101, 101, 102);
}

.singleArticleAuthor {
  font-family: Lato, sans-serif;
  font-size: 0.9em;
  letter-spacing: 3px;
  padding: 0.3em 0em 1em 0em;
  color: rgb(201, 25, 92);
}

.singleArticleTag {
  font-family: Lato, sans-serif;
  font-size: 1.2em;
  border: 1px dotted rgb(47, 47, 75);
  border-radius: 15px;
  text-align: center;
  padding: 0.5em;
  width: 4em;
  color: rgb(56, 118, 180);
}

.singleArticleVoteCount {
  font-family: Lato, sans-serif;
  font-size: 1.5em;
  color: rgb(6, 99, 19);
}

.articleArrows {
  margin-left: 0.5em;
  font-size: 1.5em;
  cursor: pointer;
}

.upArrow,
#upArrow {
  color: rgb(90, 160, 90);
}

.upArrow:hover,
#upArrow:hover {
  box-shadow: 0px 0px 30px 6px rgb(154, 201, 154);
}

.downArrow:hover,
#downArrow:hover {
  box-shadow: 0px 0px 30px 6px rgb(230, 157, 157);
}

.downArrow,
#downArrow {
  color: rgb(182, 93, 93);
}

/* Topic Area - menu? */

.topicAreaWrap {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  border: 3px solid purple;
}

.topicArea {
  border: 1px solid rgb(24, 24, 87);
  width: 30%;
}

.topicTitle,
.topicName {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 1.8em;
  letter-spacing: 2px;
  color: lightslategray;
}

.topicName:hover {
  opacity: 0.6;
}

/* Comment Area */

.commentArea {
  border: 1px solid blue;
}

.commentTitle {
  font-family: Montserrat;
  font-weight: 400;
  letter-spacing: 0.2em;
  color: rgb(83, 75, 104);
  padding: 1em;
}

.eachComment {
  border: 1px solid red;
  padding: 1em;
}

/* Link Styling Removal */

a,
a:visited,
a:active,
a:focus {
  text-decoration: none;
  color: rgb(78, 59, 85);
}
